# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
# NOTE: This project contains native projects (`android/` tracked in git) and is built with EAS.
# Do NOT ignore the entire `android/` or `ios/` directories, otherwise EAS upload can miss `gradlew`.
android/**/build/
android/.gradle/
ios/build/
ios/Pods/
ios/.xcode.env.local
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
