<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /s/

  # Eğer gerçek bir dosya/dizin ise dokunma
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # /s/<hersey> -> /s/index.html (URL aynı kalır)
  RewriteRule ^.*$ index.html [L]
</IfModule>
